{% extends "base.html" %}
{% load staticfiles %}
{% block stylesheet %}
<style>
    body {
        background-color: rgb(245, 245, 245);
    }
</style>
{% endblock %}
{% block modal %}
    <div class="infocenter-panel-pop" id="signup" xmlns:v-on="http://www.w3.org/1999/xhtml">
        <h2>JGDV ID 발급받기<i class="icon-remove"></i></h2>
        <div class="form-style form-style-3">
            <p>
                <h3>Step 1. 텔레그램 앱이 설치되지 않았다면 텔레그램을 설치하세요.</h3>

            </p>
            <p>Step 1. 텔레그램에 접속하세요.</p>
            <p>Step 1. 텔레그램에 접속하세요.</p>
            <p>Step 1. 텔레그램에 접속하세요.</p>
            <p>Step 1. 텔레그램에 접속하세요.</p>
            <p>Step 1. 텔레그램에 접속하세요.</p>
            <p>Step 1. 텔레그램에 접속하세요.</p>
            <p>Step 1. 텔레그램에 접속하세요.</p>
            <p>Step 1. 텔레그램에 접속하세요.</p>
            <p>Step 1. 텔레그램에 접속하세요.</p>
            <p>Step 1. 텔레그램에 접속하세요.</p>
            <p>Step 1. 텔레그램에 접속하세요.</p>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="breadcrumbs">
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Telegram alarm registration</h1>
                    <div class="clearfix"></div>
                    <div class="crumbs">
                        <a href="{% url "index" %}">Home</a><span class="crumbs-span">/</span> <span class="current">알림 관리</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container main-content page-full-width">
        <div class="row">
            <div class="with-sidebar-container">
                <div class="col-md-12">
                    <login-component ref="login" :app="this"></login-component>
                    <keyword-component ref="keyword" :app="this"></keyword-component>
                </div>
                <!-- End main -->
                <div class="clearfix"></div>
            </div>
            <!-- End with-sidebar-container -->
        </div>
        <!-- End row -->
    </div>
{% endblock %}