{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="section-warp infocenter-infotex">
        <div class="container clearfix">
            <div class="box_icon box_warp box_no_border box_no_background">
                <div class="row">
                    <div class="col-md-12">
                        <h2>중고 물품을 검색하세요</h2>
                        <p>찾는 물건 검색어를 입력하시면 해당 물품의 최저가 추이를 알려드립니다.</p>
                        <div>
                            <form role="search" class="form-style form-style-2" method="get" action="">
                                <p>
                                    <input name="s" type="search" value="중고 물품 검색어를 입력해주세요." onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                                    <button class="ask-question-new-class" type="submit"><span class="color button small publish-question">검색</span></button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div><!-- End row -->
            </div><!-- End box_icon -->
        </div><!-- End container -->
    </div><!-- End section-warp -->
    <div class="container main-content page-right-sidebar">
        <div class="row">
            <div class="col-xs-12">
                <div class="main-heading text-center">
                    <h2>등록된 사이트 목록</h2>
                    <div class="slices">
                        <span class="slice"></span>
                        <span class="slice"></span>
                        <span class="slice"></span>
                    </div>
                    <p>중고다이브에서는 다음의 웹사이트, 카페에서 게시물을 가져오고 있습니다.</p>
                </div>
                <ul class="home-cats-list">
                    <li>
                        <a href="http://fluentthemes.com/wp/knowledgebase/category/account-settings/" title="Account Settings">
                            <span class="wrap-icon">
                                <img src="{% static "images/websites/joonggonara_w150.png" %}">
                            </span>
                            <span class="text">중고나라 <span class="number">({{ counter.joonggonara }})</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://fluentthemes.com/wp/knowledgebase/category/account-settings/" title="Account Settings">
                            <span class="wrap-icon">
                                <img src="{% static "images/websites/momsholic_w150.png" %}">
                            </span>
                            <span class="text">맘스홀릭 <span class="number">(5)</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="http://fluentthemes.com/wp/knowledgebase/category/account-settings/" title="Account Settings">
                            <span class="wrap-icon">
                                <img src="{% static "images/websites/cetizen_w150.png" %}">
                            </span>
                            <span class="text">세티즌 <span class="number">(5)</span></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- End container -->
{% endblock %}