{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="container">
        <div class="table-responsive" style="margin: 10px 0;">
            <table class="table" style="margin-bottom: 0;">
                <colgroup>
                    <col class="col-xs-3">
                    <col class="col-xs-5">
                    <col class="col-xs-2">
                </colgroup>
                <thead>
                    <tr>
                        <th>사이트</th>
                        <th class="text-right">카테고리</th>
                        <th class="text-center">글쓰기</th>
                    </tr>
                </thead>
                <tbody>
                {% for site in source %}
                    <tr>
                        <td><img class="website-line" src="{% static {{site.site_image_url }} %}"></td>
                        <td class="text-right"><span class="text-priority-high">{{ site.category }}</span></td>
                        <td class="text-right"><a href="" ><span class="label label-default">글쓰기</span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}